section.about-us
    .container
        .row
            .col-5
                .a-u-left-img1.up
                .a-u-left-img1.below.rotated-img
            .col-6
                .text-sheet-wrap
                    p.t-s-title About us
                    p.t-s-title2 We are tasty
                    p.plain-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stan
                    p.plain-text dard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                .btn-wrap
                    button(type="button").f-r-btn.orange-btn Click here
    .a-u-chili-parsley
        img(src="../static/img/about-us/chili-parsley.png")