section.amazing-delicious
    img(src="../static/img/a-d/chili-parsley2.png").chili-parsley2
    .a-d-bg
    .container
        p.t-s-title.t-s-title__white Amasing
        p.t-s-title2.t-s-title__white Delicious

        mixin dep-item(pic, dname, dprice)
            li
                .row.dep-item-row
                    .col-2.dep-item__img
                        img(src=pic)
                    .col-6.dep-item__name
                        p= dname
                    .col-2.dots
                    .col-2.dep-item__price
                        p= dprice

        .row.menu-dep-row
            img(src="../static/img/a-d/drinks.png").dep-img.dep-img__left.wow.bounceInLeft
            .menu-dep__wrap.menu-dep__right.wow.bounceInRight
                p.t-s-title Drinks
                ul.dep-items
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
        .row.menu-dep-row
            .menu-dep__wrap.menu-dep__left.wow.bounceInLeft
                p.t-s-title Main course
                ul.dep-items
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
            img(src="../static/img/a-d/main-course.png").dep-img.dep-img__rigth.wow.bounceInRight
        .row.menu-dep-row
            img(src="../static/img/a-d/desserts.png").dep-img.dep-img__left.wow.bounceInLeft
            .menu-dep__wrap.menu-dep__right.wow.bounceInRight
                p.t-s-title Desserts
                ul.dep-items
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
                    +dep-item("../static/img/a-d/menu-item-img.png", "Tuna Roast Source", "$24.5")
