section.delightful-experience
    img(src="../static/img/d-e/dish1.png").dish1-img
    .container
        p.t-s-title Delightful
        p.t-s-title2 Experince
        mixin dish-item(pic, dname, dprice)
            li
                img(src=pic)
                .dish-info
                    p.dname= dname
                    p.dprice= dprice
                    .btn-wrap
                        button(type="button").f-r-btn-small.orange-btn.dish-btn Click here

        ul.d-e-dishes
            +dish-item("../static/img/d-e/d-e1.png", "Italian source mushroom", "12$")
            +dish-item("../static/img/d-e/d-e2.png", "Italian source mushroom", "13$")
            +dish-item("../static/img/d-e/d-e3.png", "Italian Source mushroom", "12$")
            +dish-item("../static/img/d-e/d-e4.png", "Italian Source mushroom", "12$")
            +dish-item("../static/img/d-e/d-e5.png", "Italian Source mushroom", "12$")
            +dish-item("../static/img/d-e/d-e6.png", "Italian Source mushroom", "12$")
            +dish-item("../static/img/d-e/d-e7.png", "Italian Source mushroom", "12$")
            +dish-item("../static/img/d-e/d-e8.png", "Italian Source mushroom", "12$")
    img(src="../static/img/d-e/dish2.png").dish2-img