section.mobile-app
    .m-a-bg
    .container
        .row
            .col-auto
                .phone-frame__wrap
                    img(src="../static/img/m-a/phone-frame.png").phone-frame-img
                    //.phone-screen
                mixin app-screen(screen)
                    li
                        img(src= screen)

                ul.f-r-m-app.bxslider
                    +app-screen("../static/img/m-a/screen1.png")
                    +app-screen("../static/img/m-a/screen1.png")
                    +app-screen("../static/img/m-a/screen1.png")
                    +app-screen("../static/img/m-a/screen1.png")
            .col-7
                p.t-s-title Happy to announce
                p.t-s-title3 Mobile App
                p.t-s-title2 is Available in every OS platform.
                .row
                    .col
                        a(href="#").app-link__android
                            img(src="../static/img/m-a/google-play.png").google-play-logo
                    .col
                        a(href="#").app-link__ios
                            img(src="../static/img/m-a/apple.png").apple-logo


