section.special-recipes
    .s-r-bg
    .container
        .row
            .col
                .col__wrap.wow.slideInLeft
                    .text-sheet-wrap
                        p.t-s-title Special Recipes
                        p.t-s-title2 Taste of Precious
                        p.plain-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stan
                        p.plain-text dard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                        .btn-wrap
                            button(type="button").f-r-btn.orange-btn Click here
            .col.s-r-right-img
                img(src="../static/img/s-r/s-r-right-img.png").slideInRight.wow