section.title-banner
    .bg-wrap
    .container
        .row
            .f-r-title__wrap
                p Foody love
        .row
            .f-r-sub-title__wrap
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
        .row
            .btn-wrap
                button(type='button').f-r-btn.t-b-btn Click here