.about-us
  position: relative
  background: url("../img/gray-texture-bg.png") 0 0 repeat
  width: 100%

  .row
    padding-top: 100px
    padding-bottom: 140px

    .col-5
      margin-top: 40px

  .a-u-left-img1
    display: flex
    position: absolute
    width: 370px
    height: 310px
    background: $white
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75)
    //z-index: 70

    &:after
      content: ''
      display: block
      align-self: center
      margin: 0 auto
      background: url("../img/about-us/rest1.png") 0 0 no-repeat
      background-size: cover
      width: 346px
      height: 286px
      //box-shadow: 0px 0px 15px -1px rgba(255,255,255, 0)
      //z-index: 80

  .up
    z-index: 70

    &:after
      z-index: 80

  .below
    z-index: 50

    &:after
      z-index: 60

  .rotated-img
    position: absolute
    top: 0
    transform: rotate(-13deg)
    transform-origin: bottom 30px
    z-index: 50

  .btn-wrap
    button
      margin-top: 30px

  .a-u-chili-parsley
    position: absolute
    display: block
    bottom: 0
    right: 0
    width: 20%

    img
      width: 100%
