.amazing-delicious
  position: relative
  background: $black

  .chili-parsley2
    display: block
    position: absolute
    bottom: 0
    left: 0
    z-index: 21

  .a-d-bg
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url("../img/a-d/a-d-bg.png") 0 0 no-repeat
    background-size: cover
    width: 100%
    height: 100%
    z-index: 20

  .container
    position: relative
    padding-top: 100px
    padding-bottom: 180px
    z-index: 30

    .t-s-title
      padding-bottom: 5px

    .t-s-title__white
      display: block
      margin: 0 auto
      color: $white
      text-align: center

  .col-2
    padding-left: -15px
    height: inherit

  .dots
    background: url("../img/a-d/dot.png") 0% 50% repeat-x
    width: 5px
    height: 100%

  .menu-dep-row
    position: relative
    display: flex
    width: 100%
    margin: 47px 0
    padding: 47px 0

  .dep-img
    position: absolute
    align-self: center
    display:  block
    width: 668px
    height: 538px
    top: 0

  .dep-img__left
    left: 0

  .dep-img__rigth
    right: 0

  .menu-dep__wrap
    display: block
    position: relative
    width: 43%
    background: $white
    margin-top: 15px
    color: $black
    z-index: 33

  .menu-dep__right
    margin-left: auto

  .menu-dep__left
    float: left

  .t-s-title
    margin-top: 20px
    padding-bottom: 37px
    margin-left: 66px

  .dep-items
    margin: 0 57px 20px 40px
    list-style: none
    font-size: 1.200em

    .row
      margin-left: 0
      margin-right: 0

    .dep-item__price
      font-weight: bold