.delightful-experience
  position: relative
  background: url("../img/gray-texture-bg.png") 0 0 repeat

  .container
    padding-top: 94px
    padding-bottom: 50px
    text-align: center

    .t-s-title
      margin-top: 0
      margin-bottom: 5px

    .t-s-title2
      margin-top: 0
      margin-bottom: 67px

    .d-e-dishes
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      list-style: none

      li
        position: relative
        padding: 0
        margin: 0 0 60px 0
        width: 25%
        cursor: pointer
        z-index: 5
        //font-size: 0

        .dish-info
          position: absolute
          display: block
          top: 0
          left: 0
          //height: 100%
          //width: 100%
          margin: 13% 7%
          background: $dishBG
          color: $white
          font-family: "Times New Roman"
          visibility: hidden
          //transition: all 0.2s
          z-index: 10

          p
            margin-top: 0
            margin-bottom: 0

          .dname
            margin-top: 30px
            margin-bottom: 30px
            font-size: 1.467em
            text-transform: uppercase

          .dprice
            font-size: 2.733em
            margin-bottom: 10px

          .btn-wrap
            margin-bottom: 20px

            .f-r-btn-small
              margin-top: 0

        &:hover
          .dish-info
            visibility: visible

        img
          align-self: flex-start
          width: 100%

  .dish1-img
    position: absolute
    display: block
    width: 12%
    left: 0
    top: -150px
    z-index: 200

  .dish2-img
    position: absolute
    display: block
    width: 10%
    right: 0
    bottom: -200px
    z-index: 300

