.mobile-app
  position: relative
  background: $black

  .m-a-bg
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url("../img/m-a/m-a-bg.png") 0 0 no-repeat
    background-size: cover
    width: 100%
    height: 100%
    z-index: 20

  .container
    position: relative
    padding-top: 52px
    padding-bottom: 270px
    color: $white
    z-index: 30

    .row
      .col-7
        padding-top: 130px

      .col-4
        position: relative

    .t-s-title
      color: $white
      z-index: 40

    .t-s-title2
      margin-top: 0
      font-size: 2.000em

    .app-wrap
      width: 100%
      z-index: 200

  .col-auto
    width: 342px

  .phone-frame__wrap
    position: absolute
    top: 0
    left: 0
    width: 342px
    height: 600px
    z-index: 40

  .phone-frame-img
    position: relative
    width: 100%

  .phone-screen
    position: absolute
    display: block
    //top: 13.34%
    //left: 19.01%

  .bx-wrapper
    position: absolute
    top: 13.34%
    left: 19.01%


  .jrModuleSlider.bx-wrapper.bx-controls-direction,
  .jrModuleSlider.bx-wrapper.bx-pager
    display: none
