.special-recipes
  position: relative
  background: $black

  .s-r-bg
    position: absolute
    display: block
    top: 0
    left: 0
    background: url("../img/s-r/s-r-bg.png") 0 0 no-repeat
    background-size: cover
    width: 100%
    //height: 796px
    z-index: 10

  .container
    position: relative
    padding-top: 100px
    padding-bottom: 120px
    z-index: 50

    .row
      display: flex

    .col
      padding-right: 0
      padding-left: 0
      align-self: center

    .left-col-transform
      position: relative
      display: block
      margin-top: 40px
      margin-bottom: 40px

    .col__wrap
      position: relative
      display: block
      margin-top: 40px
      margin-bottom: 40px
      right: -33px
      background: url("../img/gray-texture-bg.png") 0 0 repeat
      z-index: 80

    .text-sheet-wrap
      padding: 30px 50px 33px 42px

    .btn-wrap
      button
        margin-top: 30px
        z-index: 100

  .s-r-right-img
    z-index: 25

