.title-banner
  position: relative
  //width: 100%
  //background: url("../img/videos/t-b-bg.gif") 0 0 no-repeat
  //background-size: cover
  color: $white
  //z-index: 10

  .bg-wrap
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url("../img/videos/t-b-bg.gif") 0 0 no-repeat
    background-size: cover
    z-index: 10

    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 0.2)
      z-index: 12

  .container
    padding-top: 300px
    padding-bottom: 190px
    z-index: 20

  .f-r-title__wrap,
  .f-r-sub-title__wrap,
  .btn-wrap
    z-index: 24
    margin: 0 auto

  .f-r-sub-title__wrap
    width: 80%
    text-align: center

  .f-r-title__wrap
    font-family: $Pacifico
    font-size: 7.067em

    p
      margin-top: 0
      margin-bottom: 20px
      text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.9)

  .f-r-sub-title__wrap
    font-size: 1.667em

    p
      margin-top: 0
      margin-bottom: 30px

  .t-b-btn
    padding: 12px 38px
    background: transparent
    border: 2px solid $btnBorderColor
    color: $white
    font-family: "Times New Roman"
    font-size: 1.333em
