@media screen and (max-width: 2500px)
  .f-r-logo__wrap
    left: 15%

@media screen and (max-width: 1800px)
  .f-r-logo__wrap
    left: 5%

@media screen and (max-width: 1400px)
  .f-r-logo__wrap
    left: 0