@import "_vars"

@import "common/pre-header"

@import "common/header"

@import "common/common-styles"

@import "sections/title-banner"

@import "sections/about-us"

@import "sections/special-recipes"

@import "sections/delightful-experince"

@import "sections/amazing-delicious"

@import "sections/mobile-app"

@import "common/footer"

@import "common/f-r-logo"


html
  font-size: 15px
  margin: 0

body
  height: auto
  width: 100%
  margin: 0
  padding: 0

a
  text-decoration: none

ul
  padding-left: 0

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

.wrapper
  display: block
  margin: 0 auto
  padding: 0
  position: relative
  overflow: hidden
  width: 100%

.col,
.col-6
  padding-right: 0
  padding-left: 0

.row
  margin: 0
  padding: 0

@import "libs"
@import "_media"