.f-r-btn
  cursor: pointer
  padding: 15px 25px
  border-radius: 5px

.f-r-btn-small
  cursor: pointer
  padding: 8px 17px
  border-radius: 5px

.t-s-title
  margin-top: 0
  margin-bottom: 0
  font-family: $Pacifico
  font-size: 2.000em
  color: $black

.t-s-title2
  margin-top: 16px
  margin-bottom: 29px
  font-size: 2.533em
  text-transform: uppercase

.t-s-title3
  margin-top: 0
  margin-bottom: 0
  text-transform: uppercase
  font-size: 6.333em

.plain-text
  font-size:
  color: $plainTextColor

.orange-btn
  border: none
  background: $mainOrange
  color: $white
  font-family: "Times New Roman"
  font-size: 1.000em
  transition: all 0.3s
  box-shadow: 0px 6px 0px #d35400

  &:active
    box-shadow: 0px 2px 0px #d35400
    position: relative
    top: 4px
