.f-r-logo__wrap
  position: fixed
  display: flex
  top: 0
  width: 408px
  height: 203px
  z-index: 13000


  .f-r-triangle
    position: relative
    border: 204px solid transparent
    border-top: 203px solid $mainOrange
    display: block
    width: 0
    height: 0

  .logo-content
    display: flex
    justify-content: center
    position: absolute
    top: 0
    left: 0
    width: 100%

  .img-text__wrap
    position: relative
    display: flex
    top: 0
    z-index: 10000

  .img-wrap
    position: absolute
    top: 8px
    left: -40px

  .text-warp
    display: flex
    flex-direction: column
    padding-top: 15px
    color: $white
    font-family: $Pacifico

    p
      align-self: center
      margin-top: 0
      margin-bottom: 0
      line-height: 1.000em
      text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3)

    .logo-up
      font-size: 4.000em

    .logo-below
      font-size: 2.000em