footer
  position: relative
  background: url("../img/footer/footer-bg.jpg") 0 0 repeat

  .dish3-img
    position: absolute
    display: block
    top: 30px
    left: 0
    width: 10%

  .dish2-img__footer
    position: absolute
    display: block
    top: 50px
    right: 0
    width: 10%

  .container
    padding-top: 55px
    padding-bottom: 60px

  .address,
  .working-hours
    text-align: center

  .plain-text,
  a
    margin-top: 0
    margin-bottom: 0
    color: $white

  a
    display: block

  .bold
    font-weight: bold
    margin: 23px 0 23px 0

  .footer-f-r-tel
    margin-top: 25px

  .social-shot
    justify-content: center
    margin-top: 100px

  .t-s-title
    text-align: center
    color: $white

  .address
    .t-s-title
      margin-bottom: 60px

  .working-hours
    .t-s-title
      margin-bottom: 53px

  .feedback
    .t-s-title
      margin-bottom: 17px

  .feedback-form-wrap
    width: 100%

  .form-feilds
    margin-top: 0
    margin-bottom: 0
    list-style: none

    input,
    textarea
      padding: 0 22px 0 22px
      width: 100%
      max-width: 370px
      margin-bottom: 11px
      background: $formBG
      border-radius: 5px
      border: 0
      offset: 0
      font-family: "Times New Roman"
      color: $formFocusText

    input
      height: 2.933em

    textarea
      height: 7.267em
      padding-top: 16px

    textarea:focus,
    input:focus
      color: $formFocusText

    .orange-btn
      padding: 18px 50px

.row.copyright-info
  margin: 0
  background: $black

  .plain-text
    display: block
    margin-left: auto
    margin-right: auto
    color: $white
