header
  display: block
  width: 100%
  position: fixed
  top: 40px
  left: 0
  background: $headerBG
  z-index: 12000

  .header-menu-wrap
    display: flex
    justify-content: space-between
    padding: 40px 0 36px 0

  .header-menu
    display: flex
    list-style: none
    margin: 0
    align-self: center

    li
      margin-right: 10%
      a
        font-family: $MyriadProSemiExtended
        font-size: 1.133em
        color: $white

      a::after
        content: ''
        display: block
        height: 1px
        width: 100%
        transform: scale(0)
        background: $mainOrange
        transition: all 0.2s

      a:hover
        text-decoration: none
        &::after
          transform: scale(1)

  .booking-btn
    background: $mainOrange //transparent
    border: 1px solid $btnBorderColor
    font-family: $MyriadProSemiExtended
    font-size: 1.133em
    color: $white
    border: 0
    //animation: rainbow1 1s linear 2s infinite
    animation: auto-push 1s linear 3s infinite


    //span
      animation: rainbow1 2s linear 2s infinite
    @keyframes auto-push
      0%
        box-shadow: 0px 6px 0px #d35400
      20%
        box-shadow: 0px 2px 0px #d35400
        position: relative
        top: 4px

      50%
        box-shadow: 0px 6px 0px #d35400
      70%
        box-shadow: 0px 6px 0px #d35400
      100%
        box-shadow: 0px 6px 0px #d35400

    @keyframes rainbow1
      0%
        background: transparent
        border: 1px solid $btnBorderColor
        color: $mainOrange
      50%
        background: $mainOrange
        border: 0
        color: $white
      100%
        background: transparent
        border: 1px solid $btnBorderColor
        color: $mainOrange