.pre-header
  display: block
  width: 100%
  position: fixed
  top: 0
  left: 0
  padding: 7px 0 9px 0
  background: $white
  z-index: 12000

  .p-h-contacts
    display: flex
    justify-content: flex-start

    p,
    a
      margin: 0
      font-family: $OpenSansRegular
      color: $darkGrayColor

  .order-wrap
    display: flex
    text-align: center
    margin-right: 8%

    p
      margin: 0

    p::before
      content: ''
      align-self: center
      display: inline-block
      background: url("../img/pre-header/clock-circular-outline.svg") 0 0 no-repeat
      background-size: contain
      width: 17px
      height: 17px
      margin-right: 10px

  .tel-wrap
    display: flex

    a::before
      content: ''
      align-self: center
      display: inline-block
      background: url("../img/pre-header/call-answer.svg") 0 0 no-repeat
      background-size: cover
      width: 17px
      height: 17px
      margin-right: 10px

  .social-col
    display: flex
    justify-content: flex-end

.social-shot
  margin: 0
  display: flex
  list-style: none

  li
    margin-right: 3%

    &:last-child
      margin-right: 0

    img
      width: 20px
      height: 20px


