extends ../layout/layout

block title
    | Food and Restaurant

block pre-header
    include ../common/pre-header
block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block about-us
    include ../sections/about-us
block special-recipes
    include ../sections/special-recipes
block delightful-experience
    include ../sections/delightful-experience
block amazing-delicious
    include ../sections/amazing-delicious
block mobile-app
    include ../sections/mobile-app
block footer
    include ../common/footer