.f-r-logo__wrap
    .f-r-triangle
    .logo-content
        .img-text__wrap
            .img-wrap
                img(src="../static/img/pre-header/forks.svg")
            .text-warp
                p.logo-up Food
                p.logo-below Restaurant