footer
    img(src="../static/img/footer/dish3.png").dish3-img
    img(src="../static/img/d-e/dish2.png").dish2-img__footer
    .container
        .row
            .col.address
                p.t-s-title Take it easy with location
                p.plain-text 112-Legere ancillae vix ne.
                p.plain-text Te elit putent propriae eum, aliquip nominati
                a(href="tel:06198765432").footer-f-r-tel phone: 061 9876 5432
                a(herf="mailto:support@templatemela.com").footer-f-r-mail Email: support@templatemela.com
                include ../common/social-shot
            .col.working-hours
                p.t-s-title Working Hours
                p.plain-text.bold Monday to Friday
                p.plain-text 8:00am to 10:00pm(Breakfast)
                p.plain-text 11:00am to 10:00pm(Lunch/Diner)
                p.plain-text.bold Saturday & Sunday
                p.plain-text 10:00am to 11:00pm(Brunch)
                p.plain-text 11:00am to 12:00pm(Lunch/Dinner)
            .col.feedback
                p.t-s-title Feedback form
                .feedback-form-wrap
                    .form.feedback-form
                        ul.form-feilds
                            li.form-item
                                input(type='text' placeholder="Name").feedback-item
                            li.form-item
                                input(type='email' placeholder="Email" required).feedback-item
                            li.form-item
                                input(type='tel' placeholder="Phone").feedback-item
                            li.form-item
                                textarea(type='text' placeholder="Message").feedback-item.user-message
                        button(type='submit').f-r-btn.orange-btn Submit
.row.copyright-info
    p.plain-text Copyright © 2016 PSDFreebies.com

