header
    include f-r-logo
    .container
        .row
            .col-4
            .col-8.header-menu-wrap
                mixin menu-item(name)
                    li
                        a(href="#").menu-name= name
                ul.header-menu
                    +menu-item('Home')
                    +menu-item('Menu')
                    +menu-item('Pages')
                    +menu-item('Delivery')
                    +menu-item('News')
                    +menu-item('Features')
                .btn-wrap
                    a(herf="#").f-r-btn.booking-btn
                        span Table Booking
                    //button(type='button').f-r-btn.booking-btn Table Booking


