section.pre-header
    .container
        .row
            .col
            .col.p-h-contacts
                .order-wrap
                    p Order Foods 24/7
                .tel-wrap
                    a(href="tel:06198765432") 061 9876 5432
            .col.social-col
                include social-shot