mixin social-item(path)
    li
        a(href="#")
            img(src=path)
ul.social-shot
    +social-item("static/img/pre-header/facebook-logo.svg")
    +social-item("static/img/pre-header/google-plus.svg")
    +social-item("static/img/pre-header/twitter-logo.svg")
    +social-item("static/img/pre-header/linkedin-logo.svg")
    +social-item("static/img/pre-header/pinterest.svg")
    +social-item("static/img/pre-header/youtube-logo.svg")
    +social-item("static/img/pre-header/whatsapp-logo.svg")
    +social-item("static/img/pre-header/instagram.svg")